:root{
    --health:0%;
}
@font-face {
    font-family: 'Pixel'; 
    src: url('NFPixels-Regular.ttf') format('opentype');
  }
  
  body {
    font-family: 'Pixel', sans-serif; 
  }
  

.container {
    width: 28vw;
    height: 80vh;
    display: flex;
    overflow: hidden;
    background-color: #000000;
    align-content: center;
    position: relative;
    border: 30px double #000000;
    background: url("https://giffiles.alphacoders.com/215/215784.gif") center/cover no-repeat;
    image-rendering: pixelated;
}
.ship{
    width:6vw;
    height: 9vh;
    position: absolute;
bottom: 0;
background: url("CBWd93mWkAA8Nwb (1).png") center/cover no-repeat;
image-rendering: pixelated;
        /* animation:AnimationMove 1s  ; */

}
/* img{
    image-rendering: pixelated;
width: 200px;
height: auto;
} */
.lifes{
    margin-top: 0.3vh;
overflow: hidden;
    width: 10vw;
    height: 3.5vh;
    /* background: url('lifes/lifesSHeet.png') center/cover no-repeat ; */
    image-rendering: pixelated;

}

.lifes img{
    width: 10vw;
    height: auto;
    image-rendering: pixelated;
    
}


.bullet{
    width: 2vw;
    height: 4vh;
    border-radius: 100%;
    background-image: linear-gradient(rgb(189, 46, 46), yellow, blue);
    image-rendering: pixelated;
    background: url('ezgif.com-speed.gif') center/cover no-repeat ;

    mix-blend-mode: screen;  


}

    .Enemy {
        width: 3vw;
        height:4vh;
        image-rendering: pixelated;
        mix-blend-mode: screen;
        background: url('image.png') center/cover no-repeat ;
        /*   position: absolute; */
  
    }   

    
    .scorebar{
        display: flex;
        top: 0%;
        justify-content: space-around;
        width: 32.8vw;
        height: 3vh;     
        background-color: black;
        font-size: 0.9vw;
        color: white;
    }
    .laserBeam{
        z-index: 0;
        width: 10vw;
        height: 90vh;
        border-radius:0%;
        image-rendering: pixelated;
background-color: #fe0000;
        mix-blend-mode:screen;
        background: url('7WvCTB-ezgif.com-effects.gif') center/cover no-repeat ;
        
        
    } 

    .Explotion{
        background-blend-mode: multiply ;
        background: url('https://media.giphy.com/media/26BRx71hqRexBe7Wo/giphy.gif') center/cover no-repeat ;
        transition: background-image 0,3s ease;
    }


    .GameOVER{
        position: absolute;
        image-rendering: pixelated;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40vw;
        height: 20vh;
        mix-blend-mode:screen;
        background: url('lifes/GameoverAODPreviewonMakeaGIF-ezgif.com-crop (1).gif') center/cover no-repeat ;

    }
    .Enemy_container{
        /* background-color: black; */
        position: absolute;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 20%;
    }



     
.dmg{
    animation: moveSpriteSHeet 0.4s  forwards;
}
   

.shipdmg{
    animation: shipdmg 0.3s   ease-in-out infinite;
}
@keyframes shipdmg {
    
    50%{
        opacity: 0;
    }
}
@keyframes moveSpriteSHeet {
    from {
transform: translate3d(0px,0,0);  
filter: opacity(0);
}
    to{
        transform: translate3d(0,calc(var(--health)) ,0);
        filter: opacity(1);
    }
}

.Pause{
display: none;
position: absolute;
width: 20vw;
height: 30vh;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #ffffff;
animation: shipdmg 0.7s   linear 1;;
}