:root{
    --health:0%;
}
@font-face {
    font-family: 'Pixel'; 
    src: url('NFPixels-Regular.ttf') format('opentype');
  }
  
  body {
    font-family: 'Pixel', sans-serif; 
  }
  

.container {
    width: 28vw;
    height: 80vh;
    display: flex;
    overflow: hidden;
    background-color: #000000;
    align-content: center;
    position: relative;
    /* border: 4vw double #000000; */
    background: url("https://giffiles.alphacoders.com/215/215784.gif") center/cover no-repeat;
    image-rendering: pixelated;
}

.ship{
    width:6vw;
    height: 9vh;
    position: absolute;
bottom: 0;
background: url("CBWd93mWkAA8Nwb (1).png") center/cover no-repeat;
image-rendering: pixelated;
/* animation: shiipANim 0.5s  linear infinite; */
}
/* img{
    image-rendering: pixelated;
width: 200px;
height: auto;
} */
.lifes{
    margin-top: 0.3vh;
    overflow: hidden;
    width: 10vw;
    height: 3vh;
    /* background: url('lifes/lifesSHeet.png') center/cover no-repeat ; */
    image-rendering: pixelated;
    animation: Btn 1s  linear infinite;
}

.lifes img{
    width: 10vw;
    height: auto;
    image-rendering: pixelated;

}


.bullet{
    width: 2vw;
    height: 4vh;
    border-radius: 100%;
    background-image: linear-gradient(rgb(189, 46, 46), yellow, blue);
    image-rendering: pixelated;
    background: url('ezgif.com-speed.gif') center/cover no-repeat ;
    mix-blend-mode: screen;  
}

    .Enemy {
        width: 3vw;
        height:4vh;
        image-rendering: pixelated;
        mix-blend-mode: screen;
        background: url('image.png') center/cover no-repeat ;
        /*   position: absolute; */
        animation: Btn 1.5s  steps(5)  infinite ;

    }   


    .scorebar{
        display: flex;
        top: 0%;
        justify-content: space-around;
        width: 28vw;
        height: 3vh;     
        background-color: black;
        font-size: 0.9vw;
        color: white;
        position: sticky;
    }
    .laserBeam{
        z-index: 0;
        width: 5vw;
        height: 90vh;
        border-radius:0%;
        image-rendering: pixelated;
    background-color: #fe0000;
        mix-blend-mode:screen;
        background: url('7WvCTB-ezgif.com-effects.gif') center/cover no-repeat ;
        
        
    } 

    .Pause_Menu:hover{
        animation: Btn 0.4s  infinite ease-in-out;
    }


    .Explotion{
        
        background-blend-mode: multiply ;
        background: url('https://media.giphy.com/media/26BRx71hqRexBe7Wo/giphy.gif') center/cover no-repeat ;
        transition: background-image 0,3s ease 1;
    }
.restart{
    position: absolute;
    width:9vw;
    height: 6vh;

}

    .GameOVER{
        position: absolute;
        image-rendering: pixelated;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40vw;
        height: 20vh;
        mix-blend-mode:screen;
        background: url('lifes/GameoverAODPreviewonMakeaGIF-ezgif.com-crop (1).gif') center/cover no-repeat ;

    }
    .Enemy_container{
        display: grid;
        /* background-color: rgb(192, 36, 36); */
        /* position: absolute; */
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        row-gap: 1VH;
        column-gap: 1vw;
        height: 20%;
        width: auto;
        align-content: center;
    }



     
.dmg{
    animation: moveSpriteSHeet 0.4s  forwards;
}
   

.shipdmg{
    animation: shipdmg 0.3s   ease-in-out infinite;
}
@keyframes shipdmg {
    
    50%{
        opacity: 0;
    }
}

@keyframes Btn {
    
    50%{
scale: 1.1; 

   }
}

@keyframes moveSpriteSHeet {
    from {
transform: translate3d(0px,0,0);  
}
    to{
        transform: translate3d(0,calc(var(--health)) ,0);
    }
}

.YouWIn{

    width: 30vw;
    height: 30vh;
    background: url("lifes/youwin2.gif") center/cover no-repeat ;
    position: absolute;
    image-rendering: pixelated;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.Pause img:hover{
        animation: Btn 0.5s  linear infinite;
}

.Pause{
    align-items: center;
    justify-items: center;
    justify-content:space-around;
    flex-direction: column;
    image-rendering: pixelated;

background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
z-index: 3;
display: none;
position: absolute;
width: 15vw;

height: 30vh;
top: 50%;
left: 50%;
border-radius: 5%;
transform: translate(-50%, -50%);
animation: shipdmg 0.2s   linear 1;;
}

p{
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 1.1vw;
}



@media only screen and (max-width: 1024px) {

.container{
    
width: 90vw;
height: 70vh;
}
.Enemy{
    width: 9vw;
    height: 3vh;
}
.Enemy_container{
    width: 50vw;

}
.scorebar{
    width: 90vw;
    font-size: 4vw;

}
.ship{
    width:15vw;
    height: 7vh;
  }

  .lifes  {
    width: 40vw;
    height: 2vh;

  }
  .lifes img{
    width: 30vw;

  }

  .GameOVER{
    width: 70vw;
  }

  .bullet{
    width: 3.5vw;

}

.Pause{
    width: 30VW;
    height: 20VH;
}
.Pause img{
    width: 30vw;
}
.Pause p {
    font-size: 3vw;
}
.laserBeam{
    width: 15vw;
    height: 70vh;
}
}
